.productContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.perGroup {
    margin-top: 25px;
    background: rgb(243, 245, 249);
    padding: 15px;
    border-radius: 9px
}

.perItem {
    margin: 12px 0
}

.perGroup h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px
}

.drawerHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    border-bottom: 1px solid rgba(87, 87, 87, 0.38)
}

.buttons {
}

.content {
    margin: 12px 0
}

.variantItem{padding: 12px 0;display:flex;align-items: center;justify-content: space-between}
.name{padding: 0 5px;flex:auto;padding: 0 5px;font-size: 12px}
.buttons{display: flex;align-items: center}
.variantDetails{display: flex;flex-direction: column}